
.root {
  padding: 150px 20px;
}

.root h2 {
  text-align: center;
  margin-bottom: 25px;
}
.subtitle {
  margin-bottom: 50px;
  text-align: center;
  color: var(--text-secondary);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.team {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  max-width: 1100px;
  margin: 0 auto;
  grid-gap: 20px;
}

@media screen and (max-width: 1100px) {
  .team {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 900px) {
  .team {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .team {
    grid-template-columns: 1fr;
    width: auto;
  }
}

.member {
  border-radius: 10px;
  background: linear-gradient(var(--background), var(--paper));
  box-shadow: 0 2px 4px rgba(45,35,66,.35),0 7px 13px -3px rgba(45,35,66,.25);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.emoji {
  font-size: 100px;
  text-align: center;
  user-select: none;
}
.name {
  font-size: 18px;
  font-family: monospace;
  font-weight: 600;
}
.title {
  font-family: monospace;
}
.bio {
  margin: 20px 0;
  color: var(--text-secondary);
  font-size: 12px;
  font-family: monospace;
  border-top: solid 1px var(--light-grey);
  padding-top: 20px;
}

.socials {
  display: grid;
  grid-template-columns: repeat(auto-fill, 25px);
  margin-top: auto;
  grid-gap: 10px;
}
.socials a {
  opacity: 0.5;
}
.socials a:hover {
  opacity: 1;
}
